#
# LDAP Defaults
#

# See ldap.conf(5) for details
# This file should be world readable but not world writable.

BASE    {{ openldap_path }}
{% if openldap_server_enable_ssl %}
URI     ldaps://{{ openldap_server }}:{{ openldap_port }}
TLS_REQCERT demand
TLS_CACERT {{ ldap_tls_certificate.trust_ca_installed_path if ldap_tls_certificate.trust_ca_src | length > 0 or ldap_tls_certificate.trust_ca_content | length > 0 else internal_ca_trust_cert }}
{% endif %}
{% if not openldap_server_enable_ssl %}
URI     ldap://{{ openldap_server }}:{{ openldap_port }}
{% endif %}

#SIZELIMIT      12
#TIMELIMIT      15
#DEREF          never
{% if ansible_os_family == 'RedHat' %}
# This if block is outdated
TLS_CACERTDIR /etc/openldap/cacerts
TLS_CACERT {{ ldap_tls_certificate.trust_ca_installed_path if ldap_tls_certificate.trust_ca_src | length > 0 or ldap_tls_certificate.trust_ca_content | length > 0 else internal_ca_trust_cert }}
{% endif %}
{% if ansible_os_family == 'Debian' %}
TLS_CACERTDIR /etc/ssl/certs
TLS_CACERT {{ ldap_tls_certificate.trust_ca_installed_path if ldap_tls_certificate.trust_ca_src | length > 0 or ldap_tls_certificate.trust_ca_content | length > 0 else internal_ca_trust_cert }}
{% endif %}
