[Unit]
Description=FWOrch Generic Importer
After=network.target

[Service]
WorkingDirectory={{ generic_gateway_importer_start_dir }}
ExecStart={{ generic_gateway_importer_start_dir }}/bin/{{ dotnet_mode }}/net{{ dotnet_version }}/FWO.GenericGatewayImporter
Restart=on-failure
User={{ fworch_user }}
Environment=ASPNETCORE_URLS={{ generic_gateway_importer_listen_uri }}
Environment=DOTNET_ENVIRONMENT=Production
Environment=GenericGatewayImporter__Schema={{ generic_gateway_importer_schema }}

[Install]
WantedBy=multi-user.target
